* {
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 25px; 
    width: 550px;
    height: 250px;
    color: white;
    background: linear-gradient(45deg, rgb(15, 0, 101), #006fd7);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    
}
.name {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightblue;
    transition: 0.3s;
    padding: 5px;
}
.name:hover {
    transform: scale(1.1);
}
.title {
    font-size: 20px;
    color: lightblue;
    margin: 0px;
}
.contact-info {
    width: 150px;
    font-size: 30px;
    margin-left: 10px;
    padding-right: 40px;
    border-right: 2px solid lightblue;
    transition: 0.3s;
}
.contact-info:hover {
    color: lightblue;
    transform: translateX(-10px)
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.list-item {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.list-item:hover {
    color: lightskyblue;
    transform: scale(1.1);
    transform: translateX(-10px);
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightskyblue;
}