.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    color: aliceblue;
    margin: 10px;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.1);
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
}
